streamlit
streamlit-echarts
random
pandas
numpy
pydeck
time
random
# SessionState
Pillow
protobuf>=3.20.2 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability